body {
  background-image: url(http://students.cpcc.edu/~pjeffer1/web110/images/images/wood.jpg);
  }
@font-face {
    font-family: snellroundhand;
    src: url("snellroundhand.otf") format("opentype");
}
@font-face {
    font-family: Futura;
    src: url("Futura.ttf") format("opentype");
}
h1, a.banner {
  color: #E8E4C9;
  text-align: center;
  font-family: snellroundhand, Helvetica, sans-serif;
  font-size: 110px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  }
figure{
  margin-top: 30px;
}
img.espresso {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  width: 1000px;
  height: 700px;
  }
h2 {
  color: #E8E4C9;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  font-family: Futura, Helvetica, sans-serif;
}
h3 {
  color: #E8E4C9;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  font-family: Futura, Helvetica, sans-serif;
}
nav {
  background-color: #3D3D3D;
  font-family: Futura, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 15px;
  padding-top: 8px;
}
p {
  font-family: Futura, Helvetica, sans-serif;
  font-size: 30px;
  color: #E8E4C9;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}
a.smnav {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
a.mainnav{
  font-family: snellroundhand, Helvetica, sans-serif;
  color: #E8E4C9;
  text-decoration: none;
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;
}
a {
  color: #FF851B;
  text-decoration: none;
  font-size: 35px;
}
a:hover {
  color: white;
}
a.reference, figcaption {
  font-family: Futura, Helvetica, sans-serif;
  color: #E8E4C9;
  font-size: 25px;
}
figcaption{
  font-family: Futura, Helvetica, sans-serif;
  text-align: center;
}
footer {
  position: static;
  width: 100%;
  height: 140px;
  margin-bottom: 0;
  background-color: #3D3D3D;
  color: #E8E4C9;
  font-family: Futura, Helvetica, sans-serif;
  text-align: center;
}
#slideshow {
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: 1000px;
  height: 667px;
  padding: 10px;
}
#slideshow > div{
  position: absolute;
  top: 10px;
  left: 10px;
}
#slideshow > div > img {
  border: 2px solid black;
  box-shadow: 0 0 20px black;
}
address {
  text-align: center;
  color: #E8E4C9;
  margin-top: -20px;
  margin-bottom: -20px;
}
form {
  font-family: Futura, Helvetica, sans-serif;
  text-align: center;
  color: #E8E4C9;
  margin-top: -20px;
  font-size: 20px;
}
input, textarea {
  background-color: #9D9D9D;
}
table {
  background-color: #3D3D3D;
  width: 850px;
  margin: auto;
  border: 3px solid #1D1D1D;
}
caption {
  text-align: center;
  font-family: Futura, Helvetica, sans-serif;
  font-weight: bold;
  color: #E8E4C9;
  font-size: 65px;
}
td {
  border: 1px solid #1D1D1D;
  font-family: Futura, Helvetica, sans-serif;
  text-align: center;
  color: #E8E4C9;
  font-size: 25px;
}
.instructions {
  text-align: left;
}
iframe {
  margin-top: 20px;
}
div.video {
  text-align: center;
}